*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

::-webkit-scrollbar
{
    width: 0;
}

.button
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    width: 45px;
    height: auto;
    animation: down 1.5s linear infinite;
    visibility: hidden;
    /* opacity: 0; */
    padding: 10px;
}
.button:hover
{
    cursor: pointer;
}

#start
{
    width: 180px;
    height: 50px;
    text-align: center;
    justify-content: center;
    border-radius: 25px;
    border: none;
    background-color: #002486;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: 1s ease-in-out;
    opacity: 0;
    color: #efefef;
    font-size: 120%;
}
#start:hover
{
    cursor: pointer;
}

#content
{
    position: absolute;
    width: 100%;
    height: 90%;
    left: 0;
    top: 10%;
    z-index: 5;
}

#cont_txt
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: 50%;
    font-family: 'Poppins', sans-serif;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

#start1
{
    width: 230px;
    height: 50px;
    text-align: center;
    justify-content: center;
    background-color: #002486;
    border-radius: 25px;
    border: none;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    font-size: 120%;
    transition: 0.7s ease-in-out;    
    color: #efefef;
}
#start1:hover
{
    cursor: pointer;
}
/* button
{
    position: relative;
    top: 500px;
} */
#navigation
{
    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: #ffffff;
    box-shadow: 0px 1px 8px #cdcdcd;
    z-index: 1;
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#nav_link1
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 240px;
    width: 100px;
    
    text-align: center;
    text-decoration: none;

    font-family:'Poppins', sans-serif;
    font-weight: 100;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav_link1:hover
{
    border-bottom: 2px solid #0337c7;
}
#nav_link1:active
{
    color: #ee0000;
    border-bottom: 2px solid #ee0000;
}
#nav_link2
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: #efefef;
    background-color: #0337c7;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    font-family:'Poppins', sans-serif;
    font-weight: 100;
}
#cont_img
{
    position: absolute;
    left: 50%;
    width: 50%;
    height: auto;
    top: 25%;
    transform: translateX(-50%);
}

#topLine
{
    position: absolute;
    text-align: center;
    text-justify: i;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    left: 50%;
    transform: translateX(-50%);
    font-size: 200%;
    top: 26%;
    opacity: 0;
    transition: 0.7s ease-in-out;
}
#botLine
{
    position: absolute;
    text-align: center;
    text-justify: i;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    left: 50%;
    transform: translateX(-50%);
    font-size: 450%;
    top: 32%;
    color: #fff;
    opacity: 0;

    background-image: linear-gradient(to right, transparent 50%, #fd3535 50%);
    background-origin: 0;
    background-size: 200% 90%;
    background-repeat: repeat-x;
    background-position: 0 100%;
    transition: 0.7s;
    z-index: 4;
}

.txt
{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    font-size: 400%;
    visibility: hidden;
    opacity: 0;
    transition: 0.7s ease-in-out;
    font-family:'Poppins', sans-serif;
    z-index: 2;
}
.txt3
{
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}
.txt4
{
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}
.txt6
{
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}
.txt7
{
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}
.txt8
{
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}
.txt11, .txt16
{
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    width: 100%;
    text-align: center;
}
.txt12, .txt17
{
    font-size: 40px;
    left: 350px;
    top: 85%;
    text-align: center;
}
.txt13, .txt18
{
    font-size: 40px;
    left: 900px;
    top: 85%;
    text-align: center;
}
.txt21
{
    left: 0;
    text-align: center;
}

.high
{
  background-image: linear-gradient(to right, transparent 50%, #51e3fdc7 50%);
  background-origin: 0;
  background-size: 200% 20%;
  background-repeat: repeat-x;
  background-position: 0 100%;
  transition: 0.7s;
}
.dot
{
    width: 6px;
    height: 6px;
    border-radius: 50%; 
    background-color: #fd5151;    
    position: absolute;
    animation-name: shuffle1;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transition: 0.7s ease-in-out;
}
.class1
{
    top: -100px;
}
.class2
{
    top: 1000px;
}

#logo
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
    height: 60%;
    width: auto;
}

#gwp
{
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 150%;
    visibility: hidden;
    opacity: 0;
    transition: 0.7s ease-in-out;
    font-family:'Poppins', sans-serif;
    z-index: 2;
}

#end_link
{
    position: absolute;
    top: 84%;
    width: 15%;
    left: 42.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;

    
    opacity: 0;
    visibility: hidden;
    transition: 0.8s ease-in-out;
}
#end_link a
{
    text-decoration: none;
    z-index: 5;
    color: #0337c7;
}
#end_link span
{
    z-index: 5;
    color: #0337c7;
}
#end_link a:hover
{
    cursor: pointer;
}
/* #end_link1, #end_link2, #end_link3
{
    position: absolute;
    top: 75%;
    width: 100px;
    left: 50%;
    text-align: center;
    text-decoration: none;

    font-family:'Poppins', sans-serif;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    color: #ee0000;
} */
#end_link a:active
{
    color: #ee0000;
}
#end_link4
{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #efefef;
    background-color: #0337c7;
    width: 220px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    font-family:'Poppins', sans-serif;
    font-weight: 100;

    opacity: 0;
    visibility: hidden;
    transition: 0.7s ease-in-out;
}

@keyframes down {
    0%
    {
        bottom: 25px;
        opacity: 1;
    }
    100%
    {
        bottom: 15px;
        opacity: 0;
    }
    
}
@keyframes shuffle {
    0%
    {
        transform: translate(0,0);
    }
    12%
    {
        transform: translate(4px, 0px);
    }
    25%
    {
        transform: scale(1.3);
    }
    37%
    {
        transform: translate(4px,2px);
    }
    50%
    {
        transform: scale(0.8);
    }
    63%
    {
        transform: translate(6px, 3px);
    }
    75%
    {
        transform: scale(1);
    }
    88%
    {
        transform: translate(3px,2px);
    }
    100%
    {
        transform: translate(0,0);
    }
    
}

@keyframes shuffle1 {
    0%
    {
        transform: translate(0,0px);
        opacity: 0.7;
    }
    25%
    {
        transform: translate(10px, 10px);
        opacity: 1;
    }
    75%
    {
        transform: translate(-10px,-10px);
        opacity: 0.2;
    }
    100%
    {
        transform: translate(0,0px);
        opacity: 0.7;
    }
    
}

@keyframes shuffle2 {
    0%
    {
        transform: translate(0,0);
    }
    12%
    {
        transform: translate(2px, 0px);
    }
    25%
    {
        transform: scale(1.01);
    }
    37%
    {
        transform: translate(2px,2px);
    }
    50%
    {
        transform: scale(0.99);
    }
    63%
    {
        transform: translate(-2px, -2px);
    }
    75%
    {
        transform: scale(1);
    }
    88%
    {
        transform: translate(2px,0px);
    }
    100%
    {
        transform: translate(0,0);
    }
    
}